extends layout

block layout-content
  div.View
    h1.Banner Another Generic Notes App
    div.Message
      div.Title
        h3 Are you tired of the old fashioned notes apps?
        h1 Well too bad! 
        h1 This is just another one of them
        h3 Welcome #{username}
    div.NavButtons
      a(href="/login")
          div.NavButton Access your notes here