#message
    h1 Hello World 
    h3 pug's in the house
    p My name is #{name} <br /> my phone number is #{phone} <br /> my age is #{age}

//  <div id="message">
//      <h1>.......
//      <h2>.......
//  </div>