extends layout

block layout-content
    div.View
        form(id='loginform' action='userlogin' method='POST')
            p
            | Username: 
            input(type='text' name='username' value='')
            br
            br
            | Password: 
            input(type='text' name='password' value='')
            br
            br
            input(type='submit' value='Login')